{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
    <title>Create activity</title>
</head>
{% with menu_title="Cadastrar atividade"%}
        {% include 'partials/_menu.html' %}
{% endwith %}
<body class="bg-dark text-light">
    <form action="" method="post" enctype="multipart/form-data" class="container bg-dark text-light">
        {% csrf_token %}
        {% bootstrap_form form layout='Gutters'%}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        {% endbuttons %}
    </form>
{% endblock %}