{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create activity</title>
    {% bootstrap_css %}
</head>
<body class="bg-dark text-light">
    <h1 class="container text-center text-light">Cadastrar atividade</h1>
    <form action="" method="post" enctype="multipart/form-data" class="container bg-dark">
        {% csrf_token %}
        {% bootstrap_form form layout='Gutters'%}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        {% endbuttons %}
    </form>
</body>
</html>