{% extends 'base.html' %}
{% load static %}
{% block content %}
    <title>Histórico</title>
</head>
<body class="bg-dark text-light">
    {% with menu_title="Histórico"%}
        {% include 'partials/_menu.html' %}
    {% endwith %}
    <main class="container m-auto border border-light rounded p-0">
        {% if total > 0 %}
            <p class="total">Total: R$ {{ total }}</p>
        {% endif %}
        <table class="table border border-light  border-5 rounded text-light m-0">
            <thead class="table-light">
                <th scope="col">Valor</th>
                <th scope="col">Descrição</th>
                <th scope="col">Local</th>
                <th scope="col">Dono</th>
                <th scope="col">Comprovante</th>
                <th scope="col">Data</th>
            </thead>
            <tbody>
                {% for activity in historic %}
                    <tr>
                        {% if activity.input %}
                            <td class="text-success entrada">R$ {{ activity.value }}</td>
                        {% else %}
                            <td class="text-danger saida">R$ {{ activity.value }}</td>
                        {% endif %}
                        <td>{{ activity.description }}</td>
                        <td>{{ activity.bank }}</td>
                        <td>{{ activity.owner }}</td>
                        <td>Sem Comprovante</td>
                        <td>{{ activity.created }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    {% endblock %}