{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>index</title>
    {% bootstrap_css %}
</head>
<body>
    <h1>index</h1>
    <a class="btn btn-primary" href="{% url 'create_activity' %}">Cadastrar</a>
    <a class="btn btn-primary" href="{% url 'historic' name='all' %}">Histórico geral</a>
    <main>
        <section class="container d-flex justify-content-around">
            {% for owner in owners %}
                <div class="card text-center" style="width: 18rem;">
                    <img src="https://img.icons8.com/ios-glyphs/480/user--v1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{ owner.name }}</h5>
                    <p class="card-text">R$ {{ owner.value }}</p>
                    <a href="{% url 'historic' name=owner.name %}" class="btn btn-primary">Histórico</a>
                    </div>
                </div>
            {% endfor %}
        </section>

        <hr>

        <section class="container-fluid d-flex justify-content-around flex-wrap">
            {% for bank in banks %}
                <div class="card text-center" style="width: 18rem;">
                    <img src="https://img.icons8.com/dotty/480/bank-building.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{ bank.name }}</h5>
                    <p class="card-text">R$ {{ bank.value }}</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                </div>
            
            {% endfor %}
        </section>
    </main>
</body>
</html>