{% extends 'base.html' %}
{% load static %}
{% block content %}

    <title>Home</title>

</head>
<body class="bg-dark">
    {% with menu_title="Controle de fluxo"%}
        {% include 'partials/_menu.html' %}
    {% endwith %}
    
    <main class="main">
        <section class="container-fluid d-flex justify-content-around flex-wrap">
            {% for owner in owners %}
                <div class="card text-center" style="width: 18rem;">
                    <img src="https://img.icons8.com/ios-glyphs/480/user--v1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{ owner.name }}</h5>
                    <p class="card-text">R$ {{ owner.value }}</p>
                    <a href="{% url 'historic' name=owner.name %}" class="btn btn-primary">Histórico</a>
                    </div>
                </div>
            {% endfor %}
        </section>

        <hr class="bg-light container">

        <section class="container-fluid d-flex justify-content-around flex-wrap">
            {% for bank in banks %}
                <div class="card text-center" style="width: 18rem;">
                    {% if bank.icone %}
                        <img src="{{ bank.icone.url }}" class="card-img-top border rounded-circle" alt="...">
                    {% else %}
                        <img src="https://img.icons8.com/dotty/480/bank-building.png" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                    <h5 class="card-title">{{ bank.name }}</h5>
                    <p class="card-text">R$ {{ bank.value }}</p>
                    <a href="{% url 'historic' name=bank.name %}" class="btn btn-primary">Histórico</a>
                    </div>
                </div>
            
            {% endfor %}
        </section>
    </main>
    {% endblock %}
